<div>
  <form action='/newPassword/{{.User.UserId}}' method='POST' novalidate>
    
    <div>
      <label>New Password:</label>
      {{with .Form.Errors.Get "password"}}
      <label class='error'>{{.}}</label>
      {{end}}
      <input type='password' name='password'>
    </div>
    <div>
      {{with .Form.Errors.Get "generic"}}
      <label class='error'>{{.}}</label>
      {{end}}
      <input type='submit' value='Reset'>
    </div>
    <div>
      <a href='/login'><button type='button'>Go back to Login</button></a>
    </div>
  </form>
</div>

<style>
  label {
    display: block;
    margin-bottom: 0.5em;
  }

  input[type="email"],
  input[type="password"],
  input[type="submit"] {
    display: block;
    margin-bottom: 1em;
  }

  .error {
    color: red;
    font-style: italic;
    font-size: 0.8em;
  }
</style>