<div>
  <form action='/reset' method='POST' novalidate>
    {{with .Form}}
    <div>
      <label>Email:</label>
      {{with .Errors.Get "email"}}
      <label class='error'>{{.}}</label>
      {{end}}
      <input type='email' name='email' value='{{.Get "email"}}'>
    </div>
     <div>
      {{with .Errors.Get "generic"}}
      <label class='error'>{{.}}</label>
      {{end}}
      <input type='submit' value='Send reset link'>
    </div>
    <div>
      <a href='/login'><button type='button'>Go to Login</button></a>
    </div>
    {{end}}
  </form>
</div>

<style>
  label {
    display: block;
    margin-bottom: 0.5em;
  }

  input[type="email"],
  input[type="password"],
  input[type="submit"] {
    display: block;
    margin-bottom: 1em;
  }

  .error {
    color: red;
    font-style: italic;
    font-size: 0.8em;
  }
</style>